*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.menu{
    cursor: pointer;
    font-size: 26px;
    position: relative;
    z-index: 10;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #555;
}

.menu_wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f1f1f1;
    transition: 0.5s;
}

.menu_active{
    left: 0;
}

.menu_wrap li{
    font-size: 30px;
    margin-bottom: 30px;
}

img{
    width: 100%;
    display: block;
}

.wrap{
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.con{
    background-color: #f1f1f1;
    margin-top: 35px;
    padding: 20px;
}

.user_info{
    display: flex;
    align-items: center;
    
}

.avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: lightslategray;
    margin-right: 15px;
    overflow: hidden;
}

.bg{
    height: 400px;
    background-color: lightslategray;
    margin: 20px 0;
}

.bg img{
    height: 100%;
    object-fit: cover;
    /* =>이미지 태그를배경 이미지처럼 가득 채울때 사용(잘려나가는 영역이 생김) */
}

.heart{
    font-size: 20px;
    color: #555;
    cursor: pointer;
}

.full_heart{
    color: red;
}