*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #555;
}

img{
    width: 100%;
    display: block;
}

.wrap{
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.con{
    background-color: #f1f1f1;
    margin-top: 35px;
    padding: 20px;
    border-radius: 30px;
}

.user_info{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: lightslategray;
    margin-right: 15px;
    overflow: hidden;
}

.bg{
    width: 100%;
    height: 300px;
    background-color: lightslategray;
    margin: 20px 0;
    background: url(https://mblogthumb-phinf.pstatic.net/MjAxODA1MjdfMTUx/MDAxNTI3NDIzODQ2MDU0.xgp0tOKeaXLfzQe8fAFfeAJLMaZW6Alspf05nMiGRSUg.O6FZJVUUk06jY2Wo4n-Xm180Ak4C25haloH3JsAJTCQg.PNG.polarisians/2.png?type=w800) no-repeat ;
}

.bg img{
    height: 100%;
    object-fit: cover;
    
    /* =>이미지 태그를배경 이미지처럼 가득 채울때 사용(잘려나가는 영역이 생김) */
}

.heart{
    font-size: 20px;
    color: #555;
    cursor: pointer;
}

.comment{
    width: 100%;
    margin: 20px 0;
}

.commentInput{
    all: unset;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border-bottom: 2px solid #dbdbdb;
    background-color: rgba(255, 255, 255, 0.5);
}

.submitButton{
    all: unset;
    width: 50px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.comment h2{
    margin-top: 10px;
    font-size: 20px;
}